@charset "UTF-8";

@font-face {
    font-family: 'passionone';
    src: url('fonts/passionone/PassionOne-Regular.ttf') format('opentype');
    font-weight: bold;
}

@font-face{
    font-family: 'sriracha';
    src: url('fonts/sriracha/Sriracha-Regular.ttf') format('opentype');
    font-weight: bold;
}
header {
    text-align: center;
    background-color: black;
    margin: -10px;
    padding: 10px;
}

header > h1 {
    text-shadow: none;
    font-size: 10vw;
    color: white;
    font-family: 'passionone';
    margin: 30px 50px 0px 50px;
}

header > p {
    margin-top: 0px;
    color: white;
}

header > p > a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-decoration: none;
}

main{
    font-size: 4.5vw;
    font-family: 'sriracha';
    background-color: white;
}

#img1{
    height: 50vh;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url(imagens/imagens/background001.jpg);
    background-size: cover;
    display: flex;
    
}