@charset "UTF-8";

@font-face {
    font-family: 'passionone';
    src: url('fonts/passionone/PassionOne-Regular.ttf') format('opentype');
    font-weight: bold;
}

@font-face{
    font-family: 'sriracha';
    src: url('fonts/sriracha/Sriracha-Regular.ttf') format('opentype');
    font-weight: bold;
}
header {
    text-align: center;
    background-color: black;
    margin: -10px;
    padding: 10px;
    padding-bottom: 30px;
}

header > h1 {
    text-shadow: none;
    font-size: 10vw;
    color: white;
    font-family: 'passionone';
    margin: 30px 50px 0px 50px;
}

header > p {
    margin-top: 0px;
    color: white;
}

header > p > a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    text-decoration: none;
}

main{
    margin:0;
    font-size: 3.9vw;
    font-family: 'sriracha';
    background-color: white;
}

main > p {
    margin: 65px 0px 65px 25px;
}


#img1{
    position: relative;
    margin-left: -10px;
    margin-right: -100px;
    height: 70vh;
    width: 100vh;
    background-attachment: fixed;
    background-position: center right;
    background-repeat: no-repeat;
    background-image: url(imagens/imagens/background001.jpg);
    background-size: cover;
    display: flex;   
}

#conteudo1{
    display: flex;
    position: absolute;
    overflow: hidden;
    margin: 65px 0px 65px 25px;
    color: white;
    background-color: rgba(10, 10, 10, 0.5);
}

#img2{
    position: relative;
    height: 70vh;
    width: 100vh;
    background-attachment: fixed;
    background-position: center right;
    background-repeat: no-repeat;
    background-image: url('imagens/imagens/background002.jpg');
    background-size: cover;
    display: flex;  
}

#conteudo2{
    display: flex;
    position: absolute;
    overflow: hidden;
    margin: 65px 0px 65px 25px;
    color: white;
    background-color: rgba(10, 10, 10, 0.5);
}

footer{
    font-size: 20px;
    font-family: 'passionone';
    font-weight: bold;
    color: white;
    text-align: center;
    background-color: black;
    margin: 4px -25px -8px -25px ;
    padding: 1px;
}